.person{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px}

.container{
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale (0.48);
    transition: transform 25,8ms cubic-bezier(0.4,0.2,1);
    width: 400px;
}

.container:after{
    background-color: aliceblue;
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
}

.container:hover{
    transform: scale(0.54);
}

.container-inner{
    clip-path: path(
        "m 390,400 C 390,504.9341 304,9341,590 200,590 95. 065898,598 10,504.9341 10,400 V 10 H 200 390 Z"
    );

position: relative;
transform-origin: 50%;
top: -200px;
}